@charset "UTF-8";
html, body, #root {
  height: 100%;
  width: 100%; }

ul {
  list-style: none;
  padding-left: 0; }

button {
  outline: none !important; }

.cj-btn-confirm {
  background-color: #795548;
  border-color: #795548;
  color: #fff; }

.modal-footer {
  padding: 0;
  border-top: 0;
  display: -ms-flexbox;
  display: flex; }
  .modal-footer > div {
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  .modal-footer .btn + .btn {
    margin-left: 0;
    border-left: 0; }
  .modal-footer .btn {
    -ms-flex: 1;
        flex: 1;
    border-radius: 0;
    padding: 8px 12px; }
  .modal-footer .btn:only-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .modal-footer .btn:first-child {
    border-bottom-left-radius: 3px; }
  .modal-footer .btn:last-child {
    background-color: #795548;
    border-color: #795548;
    color: #fff;
    border-bottom-right-radius: 3px; }

.modal-content {
  border-radius: 3px; }

.modal-header, .modal-body {
  padding: 10px;
  padding-bottom: 15px;
  text-align: center; }
  .modal-header h5, .modal-body h5 {
    margin-top: 5px;
    margin-bottom: 15px; }

.cm-gold {
  color: gold; }

.cm-white {
  color: #fff; }

.cm-bg-light-green {
  background-color: #8ebc07 !important; }

.cm-bg-light-blue {
  background-color: #4db798 !important; }

.cm-bg-orange {
  background-color: #ff9800 !important; }

.cm-bg-red {
  background-color: #e91e63 !important; }

/********common class***********/
.cm-text-center {
  text-align: center; }

.cm-text-indent {
  text-indent: 20px; }

.cm-overflow {
  overflow-y: scroll;
  overflow-x: hidden; }

/*************main*************/
.cj-main {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  color: #fff;
  padding: 0;
  background-color: #736775; }

.cj-dialog {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .cj-dialog .modal-dialog {
    width: 80%; }

.cj-content {
  -ms-flex: 1;
      flex: 1;
  padding: 1rem;
  position: relative;
  z-index: 10;
  overflow: auto !important;
  /* winphone8和android4+ */
  -webkit-overflow-scrolling: touch !important;
  /* ios5+ */ }

.cj-header {
  padding: 1rem;
  padding-bottom: 0; }
  .cj-header .cj-bread-crumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0;
    padding: 8px; }

.cj-footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  border-top: solid 1px #dedede; }
  .cj-footer .cj-btm-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    height: 5rem;
    max-width: 768px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.2; }
    .cj-footer .cj-btm-nav li {
      -ms-flex: 1;
          flex: 1;
      list-style: none; }
    .cj-footer .cj-btm-nav .cj-btm-icon {
      font-size: 2.3rem; }

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem; }

::-webkit-scrollbar-button {
  background: #ddd; }

::-webkit-scrollbar-track-piece {
  background: #fff; }

::-webkit-scrollbar-thumb {
  background: #12b2ff; }

@media screen and (min-width: 768px) {
  .cj-main {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
    .cj-main .cj-header {
      width: 14rem; }
    .cj-main .cj-content {
      -ms-flex-align: start !important;
          align-items: flex-start !important; }
      .cj-main .cj-content .cj-search {
        width: 30rem;
        text-align: left;
        margin: 0 0 1rem; }
    .cj-main .cj-footer {
      width: 5rem;
      border-top: 0;
      border-right: 1px solid; }
      .cj-main .cj-footer .cj-btm-nav {
        width: 5rem;
        -ms-flex-direction: column;
            flex-direction: column; }
        .cj-main .cj-footer .cj-btm-nav li {
          width: 3rem;
          margin: 1rem 0; } }

@media screen and (max-width: 768px) {
  .cj-content {
    width: 100%; }
  .cj-bread-crumb {
    -ms-flex-direction: row !important;
        flex-direction: row !important; } }

#layout {
  overflow: hidden; }

@keyframes cm-bounce {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  60% {
    opacity: 1;
    transform: translateX(-30px); }
  80% {
    transform: translateX(10px); }
  100% {
    transform: translateX(0); } }

.new {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  animation: cm-bounce 1s;
  animation-fill-mode: forwards; }
.cj-home.cj-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow: hidden !important; }

.cj-home .cj-info-cont {
  width: 100%;
  margin-bottom: 7px;
  padding: 3px;
  border-radius: 2px;
  display: -ms-flexbox;
  display: flex; }
  .cj-home .cj-info-cont .cj-info-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .cj-home .cj-info-cont .cj-info-header .cj-info-left {
      font-size: 45px; }
    .cj-home .cj-info-cont .cj-info-header .cj-info-right {
      line-height: 1.7;
      margin-left: 5px; }
  .cj-home .cj-info-cont .cj-info-icon {
    margin-right: 5px; }
  .cj-home .cj-info-cont .cj-info {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 0;
    color: #fff;
    line-height: 1; }
  .cj-home .cj-info-cont .cj-info-footer {
    margin-top: 3px; }

.cj-home .cj-info-other {
  width: 35%;
  margin-bottom: 0; }
  .cj-home .cj-info-other li {
    border-bottom: solid 1px white; }

.cj-home .cj-main-content {
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative; }
  .cj-home .cj-main-content .cj-content-bg {
    width: 600px;
    height: 320px;
    background: url(/world-encyclopedia/images/bg-fire.jpg) no-repeat; }
    .cj-home .cj-main-content .cj-content-bg li {
      float: left;
      position: relative; }
      .cj-home .cj-main-content .cj-content-bg li .cj-menu-text {
        font-size: 14px;
        color: white; }
      .cj-home .cj-main-content .cj-content-bg li .cj-menu-icon {
        font-size: 18px; }
      .cj-home .cj-main-content .cj-content-bg li .cj-menu-icon-cont {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        width: 30px;
        height: 30px;
        border: solid 2px #12b2ff;
        border-radius: 50%;
        overflow: hidden;
        color: #e9157d; }
    .cj-home .cj-main-content .cj-content-bg .cj-menu-characters {
      top: 80px;
      left: 120px; }
    .cj-home .cj-main-content .cj-content-bg .cj-menu-items {
      top: 80px;
      left: 210px; }
      .cj-home .cj-main-content .cj-content-bg .cj-menu-items .cj-menu-icon {
        right: -1px; }
    .cj-home .cj-main-content .cj-content-bg .cj-menu-magics {
      top: 20px;
      left: -27px; }
    .cj-home .cj-main-content .cj-content-bg .cj-menu-missions {
      top: 30px;
      left: 250px; }
    .cj-home .cj-main-content .cj-content-bg .cj-menu-settings {
      float: right;
      top: 50px;
      right: 40px; }
    .cj-home .cj-main-content .cj-content-bg .cj-menu-others {
      float: right;
      top: 110px;
      right: 40px; }
    .cj-home .cj-main-content .cj-content-bg .cj-menu-training {
      top: 200px;
      left: 230px; }

@media screen and (min-width: 768px) {
  .cj-home .cj-info .cj-info-spec,
  .cj-home .cj-info li {
    -ms-flex-preferred-size: auto;
        flex-basis: auto; } }

.cj-home .cj-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  transition: all 1s ease; }

.cj-home .cj-icon-xs {
  width: 50%;
  height: 50%; }

.cj-home .cj-icon-sm {
  width: 60%;
  height: 60%; }

.cj-home .cj-icon-md {
  width: 80%;
  height: 80%; }

.cj-home .cj-menu-cont {
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .cj-home .cj-menu-cont li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
        flex: 1;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin: 1%;
    border: solid 1px;
    border-radius: 3px; }
    .cj-home .cj-menu-cont li .cj-menu-icon {
      font-size: 3rem; }
    .cj-home .cj-menu-cont li .cj-menu-text {
      font-size: 1.5rem; }
    .cj-home .cj-menu-cont li .cj-menu-left {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      padding: 0.7rem;
      text-align: center; }
    .cj-home .cj-menu-cont li .cj-menu-right {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex: 1;
          flex: 1;
      padding: 0.3rem;
      border-left: solid 1px; }
  .cj-home .cj-menu-cont li:nth-child(2n+1) {
    margin-left: 0; }
  .cj-home .cj-menu-cont li:nth-child(2n), .cj-home .cj-menu-cont li:last-child {
    margin-right: 0; }

.cj-home .cj-rotate {
  transform: rotate(360deg); }

.cj-home .cj-row {
  height: 33.333%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center; }

.cj-home .cj-nav-text {
  font-size: 1.4rem;
  line-height: 1; }

.cj-home .cj-btm-arrow {
  width: 100%;
  text-align: center; }
  .cj-home .cj-btm-arrow .cj-arrow-left, .cj-home .cj-btm-arrow .cj-arrow-right {
    margin: 5px; }
  .cj-home .cj-btm-arrow .cj-arrow-disabled {
    color: grey; }
.cm-active {
  color: #00bcd4; }
.cm-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  z-index: 10000;
  background: url(/world-encyclopedia/images/loading-bg.jpg) no-repeat;
  background-size: cover; }
  .cm-loader .cm-loading {
    font-size: 3rem;
    width: 10rem;
    height: 10rem;
    animation: rotate 1s linear infinite; }
  .cm-loader .cm-loader-left {
    transform: translate(50%); }

@keyframes rotate {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

@keyframes rotate-reverse {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

.loader-new {
  transition: all 1s;
  transform: translate(-100%); }

.loading {
  transform: translate(0); }
  .loading .cm-loading {
    font-size: 3rem;
    color: #ff8111;
    animation: rotate-reverse 1s linear infinite; }
.cj-war {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 1rem;
  overflow-x: hidden !important; }
  .cj-war .cj-name {
    width: 100%;
    max-width: 500px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .cj-war .cj-battle-top {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 500px; }
    .cj-war .cj-battle-top .cj-vs {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 20px;
      font-size: 18px;
      color: #00bcd4; }
    .cj-war .cj-battle-top .cj-battle-life {
      -ms-flex: 1;
          flex: 1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 0;
      line-height: 1;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .cj-war .cj-battle-top .cj-battle-life > li {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: end;
            justify-content: flex-end;
        -ms-flex-preferred-size: 49%;
            flex-basis: 49%;
        padding: 0;
        margin-bottom: 3px;
        font-size: 1.2rem; }
        .cj-war .cj-battle-top .cj-battle-life > li .cj-life-cont {
          border: solid 1px; }
        .cj-war .cj-battle-top .cj-battle-life > li .cj-life {
          height: 15px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
              align-items: center;
          width: 50%;
          background-color: #4caf50; }
        .cj-war .cj-battle-top .cj-battle-life > li .cj-magic {
          width: 70%;
          height: 10px;
          border: solid 1px #e91e63;
          font-size: 1rem;
          background-color: #e91e63; }
        .cj-war .cj-battle-top .cj-battle-life > li .cj-life-bottom {
          height: 15px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: justify;
              justify-content: space-between;
          -ms-flex-align: center;
              align-items: center; }
          .cj-war .cj-battle-top .cj-battle-life > li .cj-life-bottom .cj-cast {
            font-size: 1.2rem;
            margin-top: 1px; }
          .cj-war .cj-battle-top .cj-battle-life > li .cj-life-bottom .cj-cast-time {
            width: 100%;
            height: 5px;
            margin-top: 3px;
            margin-left: 2px;
            background-color: #eea914; }
      .cj-war .cj-battle-top .cj-battle-life > li:nth-child(3), .cj-war .cj-battle-top .cj-battle-life > li:nth-child(4) {
        margin-bottom: 0; }
  .cj-war .cj-battle-middle {
    width: 100%;
    max-width: 500px;
    height: 50px;
    max-height: 300px; }
    .cj-war .cj-battle-middle .cj-battle-icon {
      width: 40px;
      height: 40px;
      margin-right: 1rem; }
  .cj-war .cj-battle-character {
    transform: scaleX(-1) skew(-30deg);
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 30px;
    height: 35px;
    animation: shake 1s infinite; }

@keyframes shake {
  from {
    transform: scaleX(-1) skew(-30deg) translate(-10px); }
  to {
    transform: scaleX(-1) skew(-30deg) translate(10px); } }

@keyframes shake2 {
  from {
    transform: scaleX(-1) skew(-30deg) translate(10px); }
  to {
    transform: scaleX(-1) skew(-30deg) translate(-10px); } }
  .cj-war .cj-battle-bottom {
    width: 85%;
    max-width: 500px;
    max-height: 300px;
    height: 100px;
    border: solid 1px;
    transform: skew(-30deg);
    border-spacing: 0.3rem;
    border-collapse: separate;
    margin-top: 35px;
    margin-bottom: 5px; }
    .cj-war .cj-battle-bottom tr, .cj-war .cj-battle-bottom td {
      border: solid 1px;
      padding: 0.3rem; }
    .cj-war .cj-battle-bottom td {
      width: 25%;
      height: 35px;
      vertical-align: middle;
      position: relative; }
    .cj-war .cj-battle-bottom td:nth-child(1) .cj-battle-character {
      left: -7px; }
    .cj-war .cj-battle-bottom td:nth-child(4) .cj-battle-character {
      right: 15px; }
    .cj-war .cj-battle-bottom td:nth-child(3) .cj-battle-character, .cj-war .cj-battle-bottom td:nth-child(4) .cj-battle-character {
      width: 50px;
      height: 55px;
      animation: shake2 1s infinite; }
    .cj-war .cj-battle-bottom tr:last-of-type {
      height: 20px;
      text-align: center;
      padding: 0; }
      .cj-war .cj-battle-bottom tr:last-of-type td {
        height: 10px;
        padding: 0; }
    .cj-war .cj-battle-bottom .cj-menu-active {
      background-color: #00bcd4; }
  .cj-war .cj-battle-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 500px; }
    .cj-war .cj-battle-menu .cj-menu-active {
      border-color: #E91E63;
      border-width: 1px; }
    .cj-war .cj-battle-menu .cj-battle-icon {
      width: 2.5rem;
      height: 2.5rem;
      margin-bottom: 0.2rem;
      margin-right: 1rem; }
    .cj-war .cj-battle-menu > li {
      -ms-flex: 1;
          flex: 1;
      margin-right: 0.3rem;
      padding: 0.2rem;
      border: solid 1px;
      border-radius: 2px; }
      .cj-war .cj-battle-menu > li > h5 {
        margin: 0.3rem 0; }
      .cj-war .cj-battle-menu > li > h6 {
        margin: 0;
        text-align: center; }
    .cj-war .cj-battle-menu > li:last-child {
      margin-right: 0; }
  .cj-war .cj-magic-list {
    display: none;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 100%;
    max-width: 500px; }
    .cj-war .cj-magic-list > li {
      display: -ms-flexbox;
      display: flex;
      border: solid 1px #00bcd4;
      font-size: 1.2rem;
      margin-bottom: 0.3rem; }
      .cj-war .cj-magic-list > li > div {
        width: 20%;
        padding: 0.3rem;
        border-right: solid 1px #00bcd4; }
      .cj-war .cj-magic-list > li > div:last-child {
        border: 0; }
      .cj-war .cj-magic-list > li .cj-magic-name {
        width: 40%; }
      .cj-war .cj-magic-list > li .cj-magic-icon {
        font-size: 1.2rem;
        margin-right: 0.3rem; }
.cj-login.cj-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center; }

.cj-login .cj-logo {
  margin-bottom: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  height: 7rem;
  font-size: 7rem; }
  .cj-login .cj-logo .cj-icon {
    width: 7rem;
    height: 7rem; }

.cj-login .cj-btn {
  width: 100%; }

@keyframes login-animate {
  0% {
    transform: rotate(0); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }

.cj-login .cj-rotate {
  animation: login-animate 4s infinite; }
.cj-character-list .cj-content {
  overflow-y: scroll; }

.cj-character-list .cj-character-list-cont {
  width: 100%;
  margin: 0; }
  .cj-character-list .cj-character-list-cont > li {
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-bottom: 0.5rem; }
    .cj-character-list .cj-character-list-cont > li .cj-icon {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      overflow: hidden;
      font-size: 3rem;
      border: solid 1px #fff;
      text-align: center; }
    .cj-character-list .cj-character-list-cont > li .cj-left {
      padding-right: 0.5rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
    .cj-character-list .cj-character-list-cont > li .cj-right {
      -ms-flex: 1;
          flex: 1;
      padding: 0.5rem;
      padding-right: 0;
      border-left: solid 1px #ddd;
      white-space: nowrap;
      overflow: hidden; }
      .cj-character-list .cj-character-list-cont > li .cj-right .cj-desc {
        color: bisque;
        overflow: hidden;
        text-overflow: ellipsis; }
      .cj-character-list .cj-character-list-cont > li .cj-right ul {
        display: -ms-flexbox;
        display: flex; }
        .cj-character-list .cj-character-list-cont > li .cj-right ul li {
          -ms-flex: 1;
              flex: 1; }
        .cj-character-list .cj-character-list-cont > li .cj-right ul li:nth-child(2) {
          text-align: right; }
  .cj-character-list .cj-character-list-cont > li:last-child {
    margin-bottom: 0; }
.cm-active {
  color: #00bcd4; }

.cj-back {
  position: relative;
  top: 2px; }
.cj-character-detail table {
  margin-bottom: 2rem; }

.cj-character-detail h4 {
  color: #e91e63; }

.cj-character-detail .cj-content {
  overflow-y: scroll;
  overflow-x: hidden; }

.cj-character-detail .cj-top {
  display: -ms-flexbox;
  display: flex; }

.cj-character-detail .cj-portrait-td {
  width: 30%; }

.cj-character-detail .cj-figure > span {
  display: inline-block;
  padding-left: 8px;
  width: calc(100% / 3);
  border-right: solid 1px #fff; }

.cj-character-detail .cj-figure > span:first-child {
  padding: 0; }

.cj-character-detail .cj-figure > span:last-child {
  border: 0; }

.cj-character-detail .cj-layout-space {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-width: 0 0 1px;
  border-style: solid; }

.cj-character-detail .cj-no-bd {
  border-bottom: 0; }

.cj-character-detail .cj-properties {
  border: solid 1px; }
  .cj-character-detail .cj-properties .cj-title {
    padding: 8px;
    text-align: center;
    border-bottom: solid 1px; }
  .cj-character-detail .cj-properties .cj-body {
    padding: 3px;
    text-indent: 20px; }

.cj-character-detail .cj-properties + .cj-properties {
  border-top: solid 8px; }
.cj-character-detail .cj-top {
  display: -ms-flexbox;
  display: flex; }

.cj-character-detail .cj-portrait-td {
  width: 30%; }

.cj-character-detail .cj-figure > span {
  display: inline-block;
  padding-left: 8px;
  width: calc(100% / 3);
  border-right: solid 1px #fff; }

.cj-character-detail .cj-figure > span:first-child {
  padding: 0; }

.cj-character-detail .cj-figure > span:last-child {
  border: 0; }

.cj-character-detail .cj-layout-space {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-width: 0 0 1px;
  border-style: solid; }

.cj-character-detail .cj-no-bd {
  border-bottom: 0; }

.cj-character-detail .cj-properties {
  border: solid 1px; }
  .cj-character-detail .cj-properties .cj-title {
    padding: 8px;
    text-align: center;
    border-bottom: solid 1px; }
  .cj-character-detail .cj-properties .cj-body {
    padding: 3px;
    text-indent: 20px; }
.cj-setting-list .cj-setting-list-cont {
  width: 100%;
  margin: 0; }
  .cj-setting-list .cj-setting-list-cont > li {
    position: relative;
    padding: 5px;
    border: solid 1px #ddd;
    margin-bottom: 30px; }
    .cj-setting-list .cj-setting-list-cont > li .cj-title {
      font-size: 16px;
      color: #fff;
      border-bottom: solid 2px #fff; }
    .cj-setting-list .cj-setting-list-cont > li .cj-desc {
      color: #FFEB3B; }
    .cj-setting-list .cj-setting-list-cont > li .cj-btm {
      display: block;
      position: absolute;
      height: 25px;
      width: 49%;
      border: solid 1px #ddd;
      padding: 5px; }
      .cj-setting-list .cj-setting-list-cont > li .cj-btm > div {
        line-height: 1; }
  .cj-setting-list .cj-setting-list-cont > li:nth-child(odd) {
    border-radius: 3px 3px 3px 0; }
    .cj-setting-list .cj-setting-list-cont > li:nth-child(odd) .cj-btm {
      bottom: -26px;
      left: -1px;
      border-top: 0;
      border-radius: 0 0 3px 3px; }
  .cj-setting-list .cj-setting-list-cont > li:nth-child(even) {
    background-color: #4caf50;
    border-radius: 3px 0 3px 3px;
    margin-bottom: 5px; }
    .cj-setting-list .cj-setting-list-cont > li:nth-child(even) .cj-btm {
      top: -26px;
      right: -1px;
      border-bottom: 0;
      border-radius: 3px 3px 0 0;
      text-align: right; }
  .cj-setting-list .cj-setting-list-cont > li:last-child {
    margin-bottom: 0; }
.cj-fate {
  text-align: center;
  background: linear-gradient(#fff, #4db798); }
  .cj-fate.cj-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
.cj-demo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .cj-demo textarea {
    width: 100%;
    height: 200px; }
.cj-item-list .cj-item-header {
  margin-bottom: 10px; }

.cj-item-list .cj-item-list-cont {
  width: 100%;
  margin: 0; }
  .cj-item-list .cj-item-list-cont .cj-list-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 0.5rem;
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-bottom: 0.5rem; }
    .cj-item-list .cj-item-list-cont .cj-list-item .cj-icon {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      font-size: 3rem;
      border-radius: 3px;
      text-align: center; }
      .cj-item-list .cj-item-list-cont .cj-list-item .cj-icon img {
        width: 40px;
        height: 40px; }
    .cj-item-list .cj-item-list-cont .cj-list-item .cj-left {
      padding-right: 0.5rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
    .cj-item-list .cj-item-list-cont .cj-list-item .cj-middle {
      -ms-flex: 1;
          flex: 1;
      padding: 0 0.5rem;
      padding-right: 0;
      border-left: solid 1px #ddd;
      white-space: nowrap;
      overflow: hidden; }
      .cj-item-list .cj-item-list-cont .cj-list-item .cj-middle .cj-desc {
        color: bisque;
        overflow: hidden;
        text-overflow: ellipsis; }
      .cj-item-list .cj-item-list-cont .cj-list-item .cj-middle ul {
        display: -ms-flexbox;
        display: flex; }
        .cj-item-list .cj-item-list-cont .cj-list-item .cj-middle ul li {
          -ms-flex: 1;
              flex: 1; }
        .cj-item-list .cj-item-list-cont .cj-list-item .cj-middle ul li:nth-child(2) {
          text-align: right; }
  .cj-item-list .cj-item-list-cont .cj-list-item:last-child {
    margin-bottom: 0; }
.cm-active {
  color: #00bcd4; }
.cj-mission-list .cj-content {
  color: #222; }

.cj-mission-list .panel-title > a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  line-height: 1;
  text-decoration: none; }

.cj-mission-list .panel-body {
  padding: 10px; }

.cj-mission-list .cj-mission-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden; }

.cj-mission-list .cj-mission-info {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid 1px grey;
  text-align: center; }
  .cj-mission-list .cj-mission-info > li {
    -ms-flex: 1;
        flex: 1; }
    .cj-mission-list .cj-mission-info > li .cj-mission-icon {
      margin-right: 5px; }
  .cj-mission-list .cj-mission-info > li:first-child {
    border-right: solid 1px grey; }

.cj-mission-list .cj-badge {
  float: right;
  margin-bottom: 3px; }
