html, body, #root, .cj-main {
  height: 100%;
  width: 100%; }

ul {
  list-style: none; }

.cj-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background: linear-gradient(to bottom right, #0c0115, #9611fd);
  color: #fff; }

.cj-dialog {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .cj-dialog .modal-dialog {
    width: 80%; }

@media screen and (min-width: 768px) {
  .cj-main {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
    .cj-main .cj-header {
      width: 12rem; }
    .cj-main .cj-content {
      -ms-flex-align: start;
          align-items: flex-start; }
      .cj-main .cj-content .cj-search {
        width: 30rem;
        text-align: left;
        margin: 0 0 1rem; }
    .cj-main .cj-footer {
      width: 5rem;
      border-top: 0;
      border-right: 1px solid; }
      .cj-main .cj-footer .cj-btm-nav {
        width: 5rem;
        -ms-flex-direction: column;
            flex-direction: column; }
        .cj-main .cj-footer .cj-btm-nav li {
          margin: 1rem 0; } }

.cj-content {
  -ms-flex: 1;
      flex: 1;
  padding: 1rem;
  position: relative; }

@media screen and (max-width: 768px) {
  .cj-content {
    width: 100%; } }

.cj-header {
  padding: 1rem;
  padding-bottom: 0; }

.cj-footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  border-top: solid 1px #dedede; }

::-webkit-scrollbar {
  width: 0.5rem; }

::-webkit-scrollbar-button {
  background: #ddd; }

::-webkit-scrollbar-track-piece {
  background: #fff; }

::-webkit-scrollbar-thumb {
  background: #eee; }

.cj-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.cj-search {
  padding: 0;
  margin-bottom: 1rem; }

.cj-btm-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 5rem;
  max-width: 768px;
  text-align: center;
  margin: 0 auto; }
  .cj-btm-nav li {
    -ms-flex: 1;
        flex: 1;
    list-style: none; }

.cj-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  transition: all 1s ease; }

.cj-icon-xs {
  width: 50%;
  height: 50%; }

.cj-icon-sm {
  width: 60%;
  height: 60%; }

.cj-icon-md {
  width: 80%;
  height: 80%; }

.cj-menu-cont {
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .cj-menu-cont li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
        flex: 1;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin: 1%;
    border: solid 1px;
    border-radius: 3px; }
    .cj-menu-cont li .cj-menu-icon {
      font-size: 4rem; }
    .cj-menu-cont li .cj-menu-text {
      font-size: 1.5rem; }
    .cj-menu-cont li .cj-menu-left {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      padding: 0.3rem;
      text-align: center; }
    .cj-menu-cont li .cj-menu-right {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex: 1;
          flex: 1;
      padding: 0.3rem;
      border-left: solid 1px; }
  .cj-menu-cont li:nth-child(2n+1) {
    margin-left: 0; }
  .cj-menu-cont li:nth-child(2n) {
    margin-right: 0; }

.cj-rotate {
  transform: rotate(360deg); }

.cj-bg {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 10rem;
  height: 20rem;
  transform: rotate(180deg); }

.cj-bg2 {
  background-image: url(/world-encyclopedia/images/bg2.png);
  background-position: 100% 270%;
  background-size: 100% 95%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  width: 10rem;
  height: 95%; }

.cj-row {
  height: 33.333%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center; }

.cj-btm-icon {
  font-size: 2.3rem; }

.cj-nav-text {
  font-size: 1.4rem;
  line-height: 1; }

.test {
  color: red; }
html, body, #root, .cj-main {
  height: 100%;
  width: 100%; }

ul {
  list-style: none; }

.cj-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background: linear-gradient(to bottom right, #0c0115, #9611fd);
  color: #fff; }

.cj-dialog {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .cj-dialog .modal-dialog {
    width: 80%; }

@media screen and (min-width: 768px) {
  .cj-main {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
    .cj-main .cj-header {
      width: 12rem; }
    .cj-main .cj-content {
      -ms-flex-align: start;
          align-items: flex-start; }
      .cj-main .cj-content .cj-search {
        width: 30rem;
        text-align: left;
        margin: 0 0 1rem; }
    .cj-main .cj-footer {
      width: 5rem;
      border-top: 0;
      border-right: 1px solid; }
      .cj-main .cj-footer .cj-btm-nav {
        width: 5rem;
        -ms-flex-direction: column;
            flex-direction: column; }
        .cj-main .cj-footer .cj-btm-nav li {
          margin: 1rem 0; } }

.cj-content {
  -ms-flex: 1;
      flex: 1;
  padding: 1rem;
  position: relative; }

@media screen and (max-width: 768px) {
  .cj-content {
    width: 100%; } }

.cj-header {
  padding: 1rem;
  padding-bottom: 0; }

.cj-footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  border-top: solid 1px #dedede; }

::-webkit-scrollbar {
  width: 0.5rem; }

::-webkit-scrollbar-button {
  background: #ddd; }

::-webkit-scrollbar-track-piece {
  background: #fff; }

::-webkit-scrollbar-thumb {
  background: #eee; }

.cj-footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  border-top: solid 1px #dedede; }

.cj-btm-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 5rem;
  max-width: 768px;
  text-align: center;
  margin: 0 auto; }
  .cj-btm-nav li {
    -ms-flex: 1;
        flex: 1;
    list-style: none; }

.cj-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden; }

.cj-bg {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 10rem;
  height: 20rem;
  transform: rotate(180deg); }

.cj-bg2 {
  background-image: url(/world-encyclopedia/images/bg2.png);
  background-position: 100% 270%;
  background-size: 100% 95%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  width: 10rem;
  height: 95%; }

.cj-btm-icon {
  font-size: 2.3rem; }

.cj-nav-text {
  font-size: 1.4rem; }

.test {
  color: red; }
html, body, #root, .cj-main {
  height: 100%;
  width: 100%; }

ul {
  list-style: none; }

.cj-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background: linear-gradient(to bottom right, #0c0115, #9611fd);
  color: #fff; }

.cj-dialog {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .cj-dialog .modal-dialog {
    width: 80%; }

@media screen and (min-width: 768px) {
  .cj-main {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
    .cj-main .cj-header {
      width: 12rem; }
    .cj-main .cj-content {
      -ms-flex-align: start;
          align-items: flex-start; }
      .cj-main .cj-content .cj-search {
        width: 30rem;
        text-align: left;
        margin: 0 0 1rem; }
    .cj-main .cj-footer {
      width: 5rem;
      border-top: 0;
      border-right: 1px solid; }
      .cj-main .cj-footer .cj-btm-nav {
        width: 5rem;
        -ms-flex-direction: column;
            flex-direction: column; }
        .cj-main .cj-footer .cj-btm-nav li {
          margin: 1rem 0; } }

.cj-content {
  -ms-flex: 1;
      flex: 1;
  padding: 1rem;
  position: relative; }

@media screen and (max-width: 768px) {
  .cj-content {
    width: 100%; } }

.cj-header {
  padding: 1rem;
  padding-bottom: 0; }

.cj-footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  border-top: solid 1px #dedede; }

::-webkit-scrollbar {
  width: 0.5rem; }

::-webkit-scrollbar-button {
  background: #ddd; }

::-webkit-scrollbar-track-piece {
  background: #fff; }

::-webkit-scrollbar-thumb {
  background: #eee; }

.cj-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center; }

.cj-logo {
  margin-bottom: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  height: 7rem;
  font-size: 7rem; }
  .cj-logo .cj-icon {
    width: 7rem;
    height: 7rem; }

.cj-btn {
  width: 100%; }

@keyframes login-animate {
  0% {
    transform: rotate(0); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }

.cj-rotate {
  animation: login-animate 4s infinite; }
