html,body,#root,.cj-main{
  height: 100%;
  width:100%;
}
ul{
  list-style: none;
}
.cj-main{
  display: flex;
  flex-direction: column;
  background:linear-gradient(to bottom right,#0c0115, #9611fd);
  color:#fff;
}
.cj-content{
  flex: 1;
  padding:1rem;
  position: relative;
}
@media screen and (max-width:768px){
  .cj-content{
    width: 100%;
  }
}

.cj-header{
  padding:1rem;
  padding-bottom: 0;
}
.cj-footer{
  flex-shrink: 0;
  width: 100%;
  border-top:solid 1px #dedede;
}
//
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-button {
  background: #ddd;
}
::-webkit-scrollbar-track-piece {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #eee;
}